@media screen and (min-width:1024px) and (max-width:1450px) {
    .section-three .flex-row {
        gap: 3rem;
       padding: 3.5rem 3rem;
}
}


@media screen and (max-width:1197px){
    .header-container .search-container input {
        width: 200px;
        height: 30px;
        background: #f5f5f5;
        padding-left: 1.875rem;
        border-radius: 40px;
        font-size: 0.75rem;
        line-height: 1.5px;
        margin: 3px;
    }
} 

@media screen and (max-width:1019px){
    .header-container .column:nth-of-type(2){
        padding: 0 4rem;
    }
}


@media screen and (max-width:1024px) {

    .container {
        max-width: var(--container-width-md);
        margin: 0 auto;
    }

    .section-message-caorousel{
        display: block;
    }

    .message-bar-container{
        display: none;
    }

    .owl-nav{
        display: none;
    }

    .message-bar-item {
        padding: 1rem;
    }
    .message-bar-item {
        padding: 1rem 0 0 0;
    }
    .message-bar-item:hover .material-symbols-outlined {
       display: none;
    }

    .message-bar .bar {
        border-right: 1px solid rgb(199, 199, 199);
    }

    .offer-links-container {
        margin-bottom: var(  --spacerlg);
    }

    .section-three .flex-row {
        flex-direction: column-reverse;
        gap: 2.5rem;
        padding: 3.5rem 3rem;
    }

    br{
        display: none;
    }

    .section-three .column .store {
        margin-bottom: 2rem;
    }

    .featured-card {
        width: 100%;
       
    }

    .article-container {
        gap: 2rem;
    }

    .section-ten .column .flex-row {
        flex-direction: column;
    }

    .section-ten .content-container {
       justify-content: flex-start;
    }

    .sub-container {
        width: 70%;
    }

    .featured-card {
        max-width: 100%;
        
    }

    #section-five .owl-carousel .owl-nav {
        left: 88%;
    }
    
   .deals{
    width: 80%;
   }

   .section7 {
    margin: 5rem 0 5rem 0;
}

.section7 .owl-theme .owl-nav {
    top: -69px;
    right: -5px;
}

.section7 br{
    display: block;
}
.section7 .sale .s-heading {
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
 }

}

@media screen and (max-width:1145px) {
    .header-container .search-container input{
        width: 110px;
    }

}

@media screen and (max-width:972px) {
    .header-container{
        display: none;
    }
    .mobile-container{
        display: flex;
        position: sticky;
        top: 0;
        align-items: center;
        justify-content: space-between;
        padding:0.5rem 2rem;
        background-color:white;
        z-index: 1000;
        border-bottom: 1px solid #f1f1f1;
    }
  
    .left-container{
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }
    .mobile-container svg{
        height: 24px;
    }
    .right-container{
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }
    .middle-container img{
        height: 60px;
    }
    .message-bar {
        margin-top:0rem;
    }

}


@media screen and (max-width:972px) {
    .nav-links{
        display: none;
    }
}



@media screen and (max-width:767px) {
 
   h1{
    font-size: 3rem;
   }

   .offers {
    width: 100%;

}

.header-text {
    padding: 1rem 0rem;
}

.offer-links-container {
    align-items: flex-start;

}

.offer-link .link {
    width: 100%;
    max-width: max-content;
}

   .article-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
}
.section7 {
    margin: 5rem 0 5rem 0;
}

.sub-container {
    width: 100%;
}

.section-ten {
    width: 100%;
   
}

.featured-card .container {
   flex-direction: column;
   gap: 1rem;
   height: auto;
   padding: 1rem;
   align-items: flex-start;
   
}

.featured-card-content {
   flex-direction: column;
   gap: 1rem;
   align-items: flex-start;
}


.section7 .sale .s-heading {
   /* flex-direction: column; */
   justify-content: space-between;
   align-items: center;
}

.section7 br{
    display: block;
}

.section7 .owl-theme .owl-nav {
  display: none;
}

.section-ten .flex-column {
    gap: 1rem;
}

.offer--link .link{
    display: flex;
    align-items: center;
    justify-content: center;

}

#section-five .owl-carousel .owl-nav {
    left: 81%;
}
.article-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap:2rem;
}
.header-container .headerTop-heading {
    background-color: #e90b5a;
}
.header-container .headerTop-heading span {
    background-color:transparent;
    color: white;
}



}
@media screen and (max-width:550px){
    .header-text {
        padding: 1rem 0rem;
    }
    .article-container {
        display: grid;
        align-items: center;
        grid-template-columns:1fr;
        gap:2rem;
    }
    .header-container .column2 {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .header-container .column:nth-of-type(2) {
        padding: 0 2rem 0rem 2rem;
        height: 3.75rem;
    }
}

@media screen and (max-width:420px){
    .middle-container img {
        height: 48px;
    }
}

/* ---------FOOTER MEDIA QUERY */
@media screen and (max-width:769px){
    .display-block{
        display: none;
    }
    .display-none{
        display: block;
    }
}
@media screen and (max-width:300px){
    .tab-footer {
        padding: 0 0.5rem;
    }
}
/* ---------//FOOTER MEDIA QUERY ENDS */