*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}

body {
    font-family: Circular;
    line-height: 1.6;
    color: var(--color-white);
    background-color: var(--color-bg);
}

:root {
    --font-black: #000;
    --font-gray: #505050;
    --font-pink: #cc0058;
    --color-bg: #fff;
    --color-bg-primry: #f6f6f6;
    --color-bg-secondary: #fdf1f3;
    --color-bg-ltgray: #fafafa;
    --container-width-lg: 1400px;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition-transform: all .25 ease;
    --spacer: 3rem;
    --spacerlg: 5rem;
    --spacersm: 2rem;
}

@font-face {
    font-family: Circular;
    src: url(/Fonts/CircularStd-Bold.5c4514a8399ec0064b9b.otf),
         url(/Fonts/CircularStd-Book.9048137056e4347dbbd5.otf),
         url(/Fonts/CircularStd-Medium.9ffafeddf192e8c8a111.otf);

}

@font-face {
    font-family: Chronicle;
    src: url(/Fonts/ChronicleDeck-Roman.3fd0b10255f293e4dd6b.otf);
}

h1 {
    font-size: 3.75rem;
    font-family: Circular;
}

h2 {
    font-size: 3rem;
    line-height: 1;
}

h3 {
    font-size: 2rem;

}

a {
    text-decoration: none;
    color: var(--font-gray);
}

.container {
    max-width: var(--container-width-lg);
    margin: 0 auto;
}

.bold {
    font-size: 0.75rem;
    color: var(--font-black);
    line-height: 1rem;
    font-weight: 700;
}

.gray {
    font-size: 0.75rem;
    color: var(--font-gray);
    line-height: 1.25rem;
    font-weight: 300;
}

.gray-lg {
    font-size: 0.875rem;
    color: var(--font-gray);
    line-height: 1.25rem;
    font-family: Circular;
    font-weight: 400;
    letter-spacing: .015625rem;
}

.bold-lg {
    font-size: 1.25rem;
    line-height: 1.6rem;
    font-weight: 400;
}

.spacer {
    margin-bottom: var(--spacer);
}

.spacer-lg {
    margin-bottom: var(--spacerlg);
}
.spacer-sm{
    margin-bottom: var(--spacersm);
}

.p-large {
    font-size: 40px;
    color: var(--font-black);
}
.heading-container{
   margin-bottom: var(--spacersm);
}
.section {
    width: 100%;
    color: var(--font-black);
}

.flex-row {
    display: flex;
}

img {
    width: 100%;
    display: block;

    height: 100%;
    display: block;
}

.link {
    position: relative;
    overflow: hidden;
    padding-bottom: 0.2rem;
    font-size: 14px;
    color: var(--font-gray);
    cursor: pointer;
    width: max-content;
}

.link::before {
    content: "";
    width: 50%;
    position: absolute;
    display: inline-block;
    background-color: white;
    height: 1px;
    bottom: 0%;
    left: -50%;
    z-index: 1;
}

.link::after {
    content: "";
    width: 100%;
    position: absolute;
    display: inline-block;
    background-color: black;
    height: 1px;
    bottom: 0%;
    left: 0;
}

.link:hover::before {
    animation: slideout 0.8s linear forwards;
}

.link-hover:hover .link::before {
    animation: slideout 0.8s linear forwards;
}

@keyframes slideout {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(300%);
    }
}


/* -----Arrow-right */
@keyframes arrowslide {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(0%);
    }
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  /*------ //Arrow-right */


/* ---------SECTION1-MESSAGE-BAR--------- */
.message-bar {
    background: var(--color-bg-primry);
}

.message-bar-container {
    display: flex;
    width: 80%;
    gap: 1rem;
    padding: 1rem 0;
    margin-inline: auto;
}
.message-bar-item {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-bar .bar{
    border-right: 1px solid rgb(199, 199, 199);
}
.message-bar-item .material-symbols-outlined{
 opacity: 0;
 font-size: 1.8rem;
 font-weight: 600;
 transition: all 0.3s ease-in;

}
.message-bar-item:hover .material-symbols-outlined{
   opacity: 0.9;
   animation: arrowslide 0.6s linear forwards;
}
.message-bar-item .flex-row{
    align-items: center;
    gap: 2rem;
}
/* ---------//SECTION1-MESSAGE-BAR--------- */

/* ----------SECTION2-OFFER------------- */

.offers {
    width: 80%;
    margin-inline: auto;
   margin-bottom: var(--spacersm);
}
.offers-contai.link {
    width: 100%;
}
.offer-title p{
    font-family: Chronicle;
}
.header-text {
    padding: 1rem 2rem;
}
.header-text a  {
    font-size: 12px;
    font-weight: 100;
}
.offer-title {
    text-align: center;
}
.offer-links-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.offer-link {
    width: 205px;
    height: 280px;
    text-align: center;
}
.offer-image-container {
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.offer-image-container img {
    width:11.875rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: all 0.2s ease;
    margin-bottom: 2rem;
}
.offer-link:hover .offer-image-container img {
    transform: scale(1.1);
}
.offer-link .link {
    width: 100%;
}

/* ----------//SECTION2-OFFER------------- */



/* -----------SECTION3 IN-STOCK------------ */

.sub-container {
    max-width: 1130.67px;
    margin: 0 auto;
}
.section-three .flex-row {
    background-color: var(--color-bg-ltgray);
    align-items: center;
    justify-content: space-between;
    padding: 7.5rem 7rem;
}
.section-three .column .store {
    font-family: Circular;
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: .01875rem;
    line-height: 1rem;
    margin-bottom: 3rem;
    display: block;
}
.section-three .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-three .content span {
    font-size: .75rem;
    line-height: 1.2rem;
    font-weight: bold;
    letter-spacing: .0625rem;
    text-transform: uppercase;
}

.section-three .content h2 {
    font-weight: 700;
    letter-spacing: -.03125rem;

}

.section-three .content a {
    color: var(--font-black);
}

.section-three .column img {
    width: 476px;
    height: 278px;
}

/* owl carousel  */

#section-five .owl-carousel {
    position: relative;
}

 #section-five  .owl-carousel .owl-dots{
    display: none;
}
 #section-five .owl-carousel .owl-nav {
    text-align: end;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top:-20px;
    left: 93%;
    display: flex;
    gap: 1rem;
}
 #section-five  button.owl-prev{
    font-size: 2.2rem;
    font-family: initial;
    color: #302f2f;
}
 #section-five  button.owl-next{
    font-size: 2.2rem;
    font-family: initial;
    color: #302f2f;
}
 #section-five  [class*="owl-"]:hover {
    background-color:transparent;
    color: black;
}
/* owl carousel  */
/* -----------//SECTION3 IN-STOCK------------ */

/*-----------SECTION4 FEATURED-CARD-------------- */

.featured-card {
    margin-top: 3rem;
    width: 80%;
    margin-inline: auto;
}

.featured-card .container {
    padding: 0 3rem;
    height: 6rem;
    background: var(--color-bg-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-card-content {
    display: flex;
    align-items: center;
}

.text-pink {
    padding-right: 3rem;
    font-size: 1.5rem;
    color:var(--font-pink);
}

/*-----------//SECTION4 FEATURED-CARD-------------- */



/*-----------SECTION5 DEALS-------------- */
.deals {
   width: 80%;
   margin-inline: auto;
}

.deals .header {
 
    text-align: center;
    margin-bottom: 2rem;
}

.article-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.article-link {
     height: 28.25rem;
}

.article-link h3 {
    font-size: 1.5rem;
}

.article-link P {
    font-size: 14px;
}

.article-image-container img {
    aspect-ratio: 1/1;
    transition: all 0.3s ease;
}

.article-link:hover .article-image-container img {
    transform: scale(1.1);
}

.article-image-container {

    margin-bottom: 1rem;
    overflow: hidden;
}

/*-----------//SECTION5 DEALS-------------- */

/* ------------SECTION8 SALE----------------*/
.section7{
    overflow: hidden;
    margin: 5rem 0rem;
    font-family: Circular;
}
.section7 .sale .s-heading h2{
    font-size: 1.75rem;
}
.section7 .sale .s-heading span{
    font-size: 12px;
    font-weight: 100;
}
.section7 .sale .s-heading{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    gap: 1.5rem;
}
.section7 i{
    font-family: FontAwesome;
    font-style: normal;
}


.section7 .sale .item{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1rem;
}
.section7 .sale .box-content{
    background: #f6f6f6;
    padding: 2rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.section7 .sale .box-content span{
    font-size: 12px;
    font-weight: 100;
}
.section7 .sale .box-content span{
    position: absolute;
    top: 8%;
    left: 8%;
}
.section7 .item{
    cursor: pointer;
}
.section7 .item img{
    transform: scale(0.8);
    transition: .5s ease;
}
.section7 .item:hover  img{
    transform: scale(0.9);
}

.section7 .sale .box-content2{
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: .01875rem;
    line-height: 1rem;
    gap: 0.5rem;
}
.section7 .sale .box-content2 >span{
    color: #6e6e6e;
}

.section7 .sale .box-content2 .star-icons span{
    color: #6e6e6e;
}

.section7 .sale .box-content2 .price span:first-child{
    color: #cc0058;
}
.section7 .sale .box-content2 .price span:last-child{
    text-decoration: line-through;
}
.section7 .owl-theme .owl-dots{
    display: none;
}
.section7 .owl-theme .owl-nav {
    text-align: end;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: -100px;
    right: 25px;
    display: flex;
    gap: 1rem;
}
.section7 .owl-carousel .owl-nav button.owl-prev{
    font-size: 2.2rem;
    font-family: initial;
    color: #302f2f;
}
.section7 .owl-carousel .owl-nav button.owl-next{
    font-size: 2.2rem;
    font-family: initial;
    color: #302f2f;
}
.section7 .owl-theme .owl-nav [class*="owl-"]:hover {
    background-color:transparent;
    color: black;
}

/* ------------//SECTION8 SALE----------------*/



/*------------- SECTION-TEN MORE WAYS TO SAVE----------- */
.section-ten{
    width: 80%;
    margin-inline: auto;
    margin-top: var(--spacer);
}
.section-ten .flex-column{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-ten .heading-container h2{
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.section-ten .column .flex-row{
    gap: 2rem;

}

.section-ten .image-container img{
    width: 6.5rem;
    aspect-ratio: 1/0.7;
}

.section-ten .flex-row .column{
    background-color: var(--color-bg-ltgray);
    flex-grow: 1
}

.section-ten .content-container{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.section-ten .content{
    overflow: hidden;
}
.section-ten .content span{
    display: inline-block;
    margin-top: 1rem;
}
/*------------- //SECTION-TEN MORE WAYS TO SAVE----------- */


/* back to top button */
.top {
    position: fixed;
    z-index: 1000;
    top: 90%;
    right: 2%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    height: 60px;
    width: 60px;
    background: #505050;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
 
  
  .top i {
    font-size: 0.9rem;
    color: white;
    font-family: FontAwesome;
    font-style: normal;
    width: 100%;
    transition: .3s ease;
  }
  .top:hover{
    background-color:#e90b5a;
  }

   .top.active {
    pointer-events: auto;
    opacity: 1;
  }
  
  /* //back to top button */